#------------------------------------------------------------
# Values for this lesson.
#------------------------------------------------------------

# Which carpentry is this ("swc" or "dc")?
carpentry: "swc"

# Overall title for pages.
title: "Ansible Training 2017"

# Contact email address.
contact: "mailto:ome-devel@lists.openmicroscopy.org.uk"

#------------------------------------------------------------
# Constant URL addresses across lessons
#------------------------------------------------------------
#
# Sites.
amy_site: "https://amy.software-carpentry.org/workshops"
dc_site: "http://datacarpentry.org"
swc_github: "https://github.com/swcarpentry"
swc_site: "https://software-carpentry.org"
swc_pages: "https://swcarpentry.github.io"
template_repo: "https://github.com/swcarpentry/styles"
example_repo: "https://github.com/kennethgillen/ome-ansible-training"
example_site: "https://swcarpentry.github.com/lesson-example"
workshop_repo: 
workshop_site: 
training_site: 

# Surveys.
pre_survey: 
post_survey:

#------------------------------------------------------------
# Generic settings (should not need to change).
#------------------------------------------------------------

# What kind of thing is this ("workshop" or "lesson")?
kind: "lesson"

# Magic to make URLs resolve both locally and on GitHub.
# See https://help.github.com/articles/repository-metadata-on-github-pages/.
repository: kennethgillen/ome-ansible-training

# Start time in minutes (0 to be clock-independent, 540 to show a start at 09:00 am)
start_time: 845

# Specify that things in the episodes collection should be output.
collections:
  episodes:
    output: true
    permalink: /:path/
  extras:
    output: true

# Set the default layout for things in the episodes collection.
defaults:
  - values:
      root: ..
  - scope:
      path: ""
      type: episodes
    values:
      layout: episode

# Files and directories that are not to be copied.
exclude:
  - Makefile
  - bin

# Turn off built-in syntax highlighting.
highlighter: true
